/* 
    Created on : Mar 6, 2017, 11:23:54 AM
    Author     : Jaden Castle
*/

table 
{
  height: 160px;
  width: 300px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 2px solid black;
}

td
{
  background-color : antiquewhite;
  width:30px;
  margin: 2px;
  border: 1px solid black;
  text-align: right;
}

div
{
    margin-left: 10px;
}

.dayWeek
{
    background-color: whitesmoke;
}